* {
  transition: all .8s;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: rgb(154, 47, 174);
  color: white;
}

.profileCard {
  border: 1px solid black;
  margin: 5px auto
}
.profileCard--img {
  width: 300px;
  max-height: 1000px;
}

.discovery--profileDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile--img {
  opacity: 1;
  width: 200px;
  transform: translateZ(0);
  transition: opacity .25s linear;
  will-change: opacity;

}

.chat--gridContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* .chat--chatBox {
  display: flex;
  flex-direction: column-reverse;
} */